.me { 
    max-height: 500px;
    min-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    padding: 10px;
}

p{
    padding: 10px;
    font-size: 20px;
}